[submodule "src/external/parser"]
	path = src/external/parser
	url = https://github.com/mavka-ukr/parser
[submodule "src/external/cppgc"]
	path = src/external/cppgc
	url = https://github.com/oilpan-gc/cppgc
[submodule "src/external/sgcl"]
	path = src/external/sgcl
	url = https://github.com/pebal/sgcl
